################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prueba.Api/obj
.vs/
bin/
obj/
node_modules/
*.user
*.suo
*.cache
*.log

